<ActionBar title="Inversor CFW08" class="top-bar">
</ActionBar>
<StackLayout class="page" orientation="vertical" backgroundColor="#CFD8DC">
    <Button text="Conectar" #btnConnect (tap)="toggleConnection()" class="btn-connect" borderRadius="10" borderWidth="2" borderColor="white"></Button>
    <GridLayout marginTop="30" columns="*,*" rows="*,*,*" width="300" height="150">
        <Label text="Freqüência:" col="0" row="0" horizontalAlignment="center" verticalAlignment="center" class="lbl-prompt"></Label>
        <StackLayout orientation="vertical" (tap)="changeFrquency()" backgroundColor="black" col="1" row="0" borderRadius="10" borderWidth="2"
            borderColor="white">
            <Label text="60.00 Hz" class="lbl-sp" textWrap="true"></Label>
        </StackLayout>
        <Label text="Corrente:" col="0" row="1" horizontalAlignment="center" verticalAlignment="center" class="lbl-prompt"></Label>
        <StackLayout orientation="vertical" backgroundColor="black" col="1" row="1" borderRadius="10" borderWidth="2" borderColor="white">
            <Label #lblCorrente class="lbl-temp" text="1.2 A" textWrap="true"></Label>
        </StackLayout>
        <Label text="Tensão:" col="0" row="2" horizontalAlignment="center" verticalAlignment="center" class="lbl-prompt"></Label>
        <StackLayout orientation="vertical" backgroundColor="black" col="1" row="2" borderRadius="10" borderWidth="2" borderColor="white">
            <Label #lblTensao class="lbl-temp" text="230 V" textWrap="true"></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout marginTop="40" class="page" orientation="vertical" backgroundColor="#D42929">
        <Label text="" class="lbl-divider" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout marginTop="40" orientation="vertical">
        <Label text="Comando:" class="lbl-prompt" horizontalAlignment="center"></Label>
        <Switch #switchMotor (loaded)="swMotorLoaded($event)" checked="false" (checkedChange)="toggleMotor()" horizontalAlignment="center"></Switch>
    </StackLayout>
    <StackLayout marginTop="40" orientation="vertical">
        <Label text="Sentido:" class="lbl-prompt" horizontalAlignment="center"></Label>
        <Switch #switchSentido (loaded)="swSentidoLoaded($event)" checked="false" (checkedChange)="toggleSentido()" horizontalAlignment="center"></Switch>
    </StackLayout>
</StackLayout>